@model Blog

@if(TempData["Mesaj"] is not null)
{
    <span>@TempData["Mesaj"]</span>
}

<form asp-action="AddBlog" method="post">
    <label>Title</label>
    <br />
    <input asp-for="BlogTitle"/>
    <br />
    <span  asp-validation-for="BlogTitle"></span>
    <br />
    <label>BlogDescription</label>
    <br />
    <input asp-for="BlogDescription"/>
    <br />
    <span asp-validation-for="BlogDescription"></span>
    <br />
    <label>BlogText</label>
    <br />
    <input asp-for="BlogText"/>
    <br />
    <span asp-validation-for="BlogText"></span>
    <br />
    <label>BlogImageUrl</label>
    <br />
    <input asp-for="ImageUrl"/>
    <br />
    <span asp-validation-for="ImageUrl"></span>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}