@model BlogAddViewModel

@if(TempData["Mesaj"] is not null)
{
    <span>@TempData["Mesaj"]</span>
}

<form asp-action="AddBlog" method="post" enctype="multipart/form-data">
    <label>Title</label>
    <br />
    <input asp-for="BlogTitle"/>
    <br />
    <span  asp-validation-for="BlogTitle"></span>
    <br />
    <label>BlogDescription</label>
    <br />
    <input asp-for="BlogDescription"/>
    <br />
    <span asp-validation-for="BlogDescription"></span>
    <br />
    <label>BlogText</label>
    <br />
    <input asp-for="BlogText"/>
    <br />
    <span asp-validation-for="BlogText"></span>
    <br />
    <label>BlogImage</label>
    <br />
    <input type="file" accept="image/*" asp-for="Image"/>
    <br />
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}