body {
    font-family: Arial, sans-serif;
}
h2{
    font-size:24px;
}
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    position: fixed;
    padding: 20px;
}

.content {
    margin-left: 220px;
    padding: 20px;
}
img{
    height:200px;
}

.adminBlogList{
    position:relative;

}
.adminBlogList .deleteBtn{
    position: absolute;
    right: 24px;
    bottom: 24px;
}