<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/BlogsList.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="logo col-6">
            <img src="https://www.egoistyazar.com/upload/images/posts/ademin-yaratılışı.png" alt="">
        </div>
        <div class="menu col-4 ">
            <div class="menuItems">
                <a asp-action="BlogsList" asp-controller="Blogs">Blogs</a>
            </div>
        </div>
        <div class="col-1 login">
            <a asp-action="Login" asp-controller="User"><button>Giriş Yap</button></a>
        </div>
        <div class="col-1 login">
            <a asp-action="Register" asp-controller="User"><button>Kayıt Ol</button></a>
        </div>
        <div class="menuButton ">
            <button> <i class="fa-solid fa-bars"></i></button>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BlogSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
